<?php  if($this->getRequest()->getParam('did') == 1){ ?>
<div class="field field-dealer-uid required">
            <label class="label" for="dealer_uid"><span>Dealer ID</span></label>
            <div class="control">
                <input type="text" id="dealer_uid" name="dealer_uid" value="" title="Dealer ID" class="input-text required-entry" data-validate="{required:true}" autocomplete="off" aria-required="true">
            </div>
</div>

<input type="hidden" name="is_seller"  id="is_seller" value="1" />

<!-- <div class = "field">
    <label for = "is_seller" class = "label"><span><?php echo __("Register As Seller"); ?></span></label>
    <div class="control">                                           
        <input type="checkbox" name="is_seller" title="Register as Seller" id="is_seller" class="checkbox"  value="1" checked="checked" />
        <label for="is_seller" class="label"><?php echo __("Register As Seller"); ?></label><br>
    </div>
</div> -->

<?php } ?>
