<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
    
     
<div class="block block-customer-login">
  <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2">
        <?= $block->escapeHtml(__('Sign In')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <script>
             function hideA(x) {
                if (x.checked) {
                    document.getElementById("customer_login_form").style.visibility = "hidden";
                    document.getElementById("dealer_login_form").style.visibility = "visible";
                }
                }

                function hideB(x) {
                if (x.checked) {
                    document.getElementById("dealer_login_form").style.visibility = "hidden";
                    document.getElementById("customer_login_form").style.visibility = "visible";
                }
                }
        </script>
  
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
                <div class="field required">
                    <div class="control">
                        <input name="login-as" value="customer" id="login-as-customer" type="radio" class="input-text"  onchange="hideB(this)" checked title="<?= $block->escapeHtmlAttr(__('Customer Login')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true}">
                        <label class="label" for="login-as-customer"><span><?= $block->escapeHtml(__('Customer')) ?></span></label>
                        <input name="login-as" value="dealer"  id="login-as-dealer" type="radio" class="input-text"  onchange="hideA(this)" required title="<?= $block->escapeHtmlAttr(__('Dealer Login')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true}">
                       <label class="label" for="login-as-dealer"><span><?= $block->escapeHtml(__('Dealer')) ?></span></label>
                    </div> 
                </div>
                
 
                <div id="customer_login_form">
                <div class="field note"><?= $block->escapeHtml(__('Sign in As Customer')) ?></div><br>    
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div><br>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div><br>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>


                <div id="dealer_login_form"  style="visibility:hidden">
                <div class="field note"><?= $block->escapeHtml(__('Sign in As Dealer')) ?></div><br>    
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div><br>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div><br>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>
                </div>
                
            </fieldset>
        
        </form>
        
    </div>
   
</div>

    



