.customer-welcome .action.switch {
    color: #ffffff;
}
#wishlist-sidebar .product-item {
    min-height: inherit;
}
#wishlist-sidebar .product-item .product-item-info {
    display: table;
    width: 100%;
}
#wishlist-sidebar .product-item .product-item-info .product-item-photo {
    position: static;
    width: 30%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    margin: 0px;
}
#wishlist-sidebar .product-item .product-item-info .product-item-details {
    width: 70%;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}
#wishlist-sidebar .product-item .product-item-info .product-item-photo .product-image-container .product-image-wrapper {
    padding: 0px;
}
#wishlist-sidebar .product-item .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
    height: auto !important;
    width: auto !important;
    position: static;
}
body .abs-actions-addto::before,
body .product-item-actions .actions-secondary > .action::before{
    overflow: inherit;
}
.checkout-payment-method .billing-address-same-as-shipping-block input {
    vertical-align: bottom;
    margin-top: 0px;
}
input[type="checkbox"],
.form-edit-account .field input[type="checkbox"],
.form-newsletter-manage .field input[type="checkbox"],
.account .field input[type="checkbox"] {
    vertical-align: bottom;
    margin-top: 0px;
}
.account .page-main .block {
    margin-bottom: 15px;
}
.account .fieldset {
    margin-bottom: 20px;
}
.product-item .product-item-info .product-item-inner .box-tocart {
    margin-bottom: 12px;
}
.header.content .compare.wrapper {
    margin: 12px 0px;
}
.header.content .compare.wrapper .compare {
    margin: 0px;
}

.cp-footer-container .cp-footer-main .cp-fblock .cp-fcontent {
    float: none;
}
.pad-main-bottom {
    padding-bottom: 0px;
}
.cp-footer-container .cp-footer-main .cp-fblock .cp-fcontent .cp-social li {
    margin-bottom: 6px;
}
.product-item .product-img-block .product-item-photo {
    display: block;
}
.filter-options .filter-options-content {
    margin-bottom: 0px;
}
.product-item-inner .product-item-description {
    margin-top: 8px;
}
.fieldset .review-legend.legend span {
    display: block;
    margin-right: 0px;
    margin-bottom: 8px;
}
.review-form .review-fieldset {
    margin-bottom: 20px;
}
.copyright {
    padding: 20px 0px;
}
.privacy-policy h2 {
    font-weight: 500;
    margin: 20px 0px 20px;
}
.privacy-policy ul {
    padding-left: 15px;
}
.cp-footer-container .cp-footer-main .cp-fblock .cp-fcontent ul li strong::before {
    content: "\f0da";
    font-family: 'Fontawesome';
    margin-right: 10px;
}
.form-orders-search .fieldset,
.contact .fieldset,
.search.advanced .fieldset {
    margin-bottom: 25px;
}
.fotorama__nav.fotorama__nav--thumbs {
  margin-top: 8px;
}

/* responsive css */

@media screen and (min-width: 768px){
    .compare.wrapper .action.compare,
    .compare.wrapper .action.compare .counter.qty   {
        color: #fff;
    }
    .header .block-search input::placeholder {
        color: #fff;
        opacity: 1;
    }
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
        margin: 20px 0px;
        padding: 0px;
    }
    .navigation .level0.parent > .level-top > .ui-menu-icon::after {
        display: none;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px){
    #wishlist-sidebar .product-item .product-item-info .product-item-photo {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0px 0px 10px;
    }
    #wishlist-sidebar .product-item .product-item-info .product-item-details {
      width: 100%;
      display: block;
    }
    .header-notification{
        width: auto;
    }
    .fs-main .fs-row .fs-inner .fs-left {
        position: static;
        margin: 0px auto 20px;
    }
    .fs-main .fs-row .fs-inner .fs-right {
        padding: 0px;
        text-align: center;
    }
    .cp-footer-container .cp-footer-main .cp-fblock .cp-ftitle h3 {
        font-size: 16px;
    }
    .cart-summary .checkout-methods-items .action.primary.checkout {
        font-size: 16px;
        padding: 12px 12px;
    }
    .header.content .compare.wrapper {
      margin: 0px 0px;
    }
    .pad-main-bottom {
      padding-bottom: 0px;
    }
    .page-main .block .hat-main.pad-main {
      padding-top: 0px;
    }
}

/* responsive css */

@media screen and (max-width: 767px){
    .action.nav-toggle::before {
        color: #222222;
    }
    .nav-toggle:hover::before {
         color: #f2703e;
    }
    .page-header {
        background: transparent;
    }
    .navigation .level0 {
        font-size: 14px;
    }
    .hat-main .hat-inner {
        margin-bottom: 15px;
    }
    .block-search .label::before {
        margin: 2px 7.5px 0 0;
    }
    .hab-main .hab-row .hab-inner {
        margin-bottom: 15px;
    }
    .logo img {
        max-height: none;
        vertical-align: middle;
    }
    .hb-main .hb-right .hb-top, .hb-main .hb-right .hb-bottom {
        margin: 0px;
    }
    .block-search .label::before,
    .minicart-wrapper .action.showcart::before,
    .minicart-wrapper .action.showcart.active::before{
        color: #222222;
    }
}

@media screen and (max-width: 767px) and (min-width: 640px){
    body .block-search .label::before {
        margin: 10px 7.5px 0 0;
    }
}

@media screen and (max-width: 639px){
    .minicart-wrapper{
        margin-top: 5px;
    }
    .hb-main .hb-right {
        margin-top: -25px;
    }
    .pad-main-bottom {
        padding-bottom: 0px;
    }
    .products-list .product-item .product-item-actions .actions-primary {
        display: inline-block;
        margin-right: 12px;
    }
    .products-list .product-item .product-item-actions .actions-secondary {
        display: inline-block;
    }
    .products-list .product-item-inner .product-item-description {
        display: inline-block;
        width: 100%;
    }
}

.page-header, .nav-sections, .block.block-search{background: #081419;}
 .block.block-search{   padding: 10px 0px 10px 0px;width: 100%;text-align: center; }
.navigation .level0.active>.level-top, .navigation .level0.has-active>.level-top,
.navigation .level0>.level-top{
background: transparent; color: #75888e; text-transform: capitalize; font-size: 15px; font-family: 'Roboto', sans-serif;}
.block.block-content {
    width: 50%;
    display: inline-block;
}
.block-search .action.search {
    right: 25%;
}
.navigation .level0>.level-top:hover, .navigation .level0>.level-top.ui-state-focus, .navigation .level0.active>.level-top:hover, .navigation .level0.has-active>.level-top:hover,
li.level0.category-item.level-top.active.ui-menu-item a{
    background: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid yellow;
}
.sections.nav-sections { border-top: 1px solid #444; }
.navigation ul { display: inline-block; border-top:none; }
nav.navigation { text-align: center; }
.cp-footer-main.first-img {
    width: 100%;
    border-bottom: 0.6px solid #ccc;
    margin-bottom: 16px;
}
.cp-footer-container .cp-footer-main .cp-fblock .cp-fcontent .logo img { max-width: 100%; }
.cp-footer-container .cp-footer-main .cp-fblock .cp-ftitle h3 {
    color: #75888e;
    font-size: 16px;
    text-transform: capitalize;
}
.cp-footer-container .cp-footer-main .cp-fblock .cp-fcontent ul li a {
    color: #75888e;
    font-size: 14px;
}
.cp-footer-container .cp-footer-main .cp-fblock .cp-fcontent ul li a:hover {
        color: #ffff00;
}
.slot-comment-content {
    display: inline-block;
    width: 100%;
}
.slot-comment-content .parent-div .slick-slider {
    padding: 0;
    margin: 0;
}
.slot-comment-content .comment-slot {
    width: 66.6%;
    float: left;
}
.comment-wrapper {
    width: 80.5%;
    float: right;
    padding: 5px;
    box-sizing: border-box;
}
.slot-comment-content .parent-div button.slick-next, .slot-comment-content .parent-div button.slick-prev {
    display: none !important;
}
.comment-container {
    float: right;
    padding: 5px;
    box-sizing: border-box;
    background: #fff;
}
.comment-container .img-part {
    width: 150px;
    float: left;
}
.comment-container .comment-part {
    width: 70%;
    float: right;
    font-size: 25px;
}
.comment-container .comment-part p {
    margin-top: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    text-align: left;
    color: #000000;
}
.comment-part h3 {
    object-fit: contain;
    font-family: Roboto;
    font-size: 18px;
    text-align: right;
    color: #000000;
}
.shadow-container {
    box-sizing: border-box;
    border-color: transparent;
    box-shadow: 0 2px 8px rgba(20,27,4,0.2);
    -webkit-box-shadow: 0 2px 8px rgba(20,27,4,0.2));
    background: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    margin: 15px 0;
}
.shadow-container:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -7px;
    right: 48.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent transparent #fff #fff;
    border-style: solid;
    border-width: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(314deg);
    -webkit-box-shadow: -3px 3px 3px 0 rgba(0,0,0,.1);
    box-shadow: -3px 3px 3px 0 rgba(0,0,0,.1);
}
.slot-comment-content .img-slot {
    width: 33.4%;
    float: right;
}

.slot-comment-content ul.slick-dots {
    width: 100%;
    text-align: center;
}
.heroimg-slot {
    margin-top: 50px;
    margin-bottom: 50px;
}
.heroimg-wrapper {
    position: relative;
}

.heroimg-left, .heroimg-right {
    float: left;
    top: 0;
}
a {
    text-decoration: none;
    color: #75888e;
}

@media only screen and (max-width: 1366px){
.shadow-container {
    padding: 50px 5%;
}
.heroimg-right {
    width: 50%;
}
/* .heroimg-wrapper .parent-div button.slick-next {
    left: 17vw;
} */
}

.heroimg-left {
    width: 45%;
    left: 0;
    z-index: 1;
}

.heroimg-right {
    background: transparent url(../images/Path235@2x.png) top left no-repeat;
    bottom: 0;
    width: 55%;
    left: 20px;
    margin-top: 105px;
    position: relative;
    background-size: cover;
    height: 600px;

}

.heroimg-wrapper .parent-div button.slick-prev {
	position: relative;
    top: 380px;
    margin-left: 60px;
 
}

.heroimg-wrapper .parent-div button.slick-next {
    position: relative;
    left: 225px;
    bottom: 86px;
    padding-right: 12px;
}

.dustpact_rght {
    position: relative;
    margin-left: 475px;
    bottom: 265px;
    width: 155px;
}

.deals_img_button {
    position: relative;
    left: 165px;
    bottom: 210px;
    width: 220px;
}

.Explore_latest {
    font-size: 28px;
    color: #ffff;
    position: relative;
    top: 70px;
    z-index: 1;
}

.heroimg-left .view_all_exchange{
    position: relative;
    z-index: 1;
    font-size: 23px;
    top: 175px;
    background: #ffffff;
    margin-left: 190px;
    width: 295px;
    box-shadow: 0px 3px 6px 0px #f3f3f3;
    padding: 0.5em 0em;
}

a.btn-feedback {
    background: #ffffff;
    color: #000;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    height: 55px;
    width: 190px;
    position: relative;
    top: 40px;
    padding: 10px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
 /* .feedback-btn {
    text-align: center;
    margin: 80px 0;
} */

.remove_slick .slick-dots  {
	display: none !important;
}

.slick-slide img{
    max-width: 94%;
}

.card .card_image {
    max-width: 83%;
}

img,object,video,embed{
    height:auto;
    max-width:120%;
}


.slick_list_draggable .slick-slider{
    position: relative;
    bottom: 100px;
    left: 17px;
}

.product-info {
    float: right;
    width: 50%;
    background: #081419;
    height: 523px;
}

.dealers-info {
    float: right;
    width: 58%;
    color: white;
    background-color: #081419;
    padding-right: 3%;
    padding-left: 2%;
    padding-bottom: 104px;
}

.car-deal-info {
    float: left;
    width: 42%;
    position: relative;
    height: 598px;
    padding-left: 7%;
}
@media (min-width: 768px), print {
.page-wrapper {
overflow-x: hidden;
overflow-y: auto;
}
}

@media only screen and (max-width: 1321px){
.body-wrap {
height: 512px;
}
.heroimg-wrapper .parent-div button.slick-prev {
position: relative;
top: 372px; 
}

} 

.select-dropdown {
    width: 28%;
    background: #091418;
    position: relative;
    text-align: left;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 0px;
    box-sizing: border-box;    
    background: none !important;
}

@media (min-width: 768px), print {
.navigation .level0 .submenu {
border-top: none !important;
    }
}

@media (min-width: 768px), print {
.navigation .level0 .submenu {
background: none !important;
border: none !important;
    }
}   

.selector-wrapper {
    width: 80%;
    padding-left: 30px;
    padding-top: 20px;
}

#model_number, #variant, #body_style, #type {
    color: #75888e;
    border: none;
    background: #0f222d url(../images/select-bg.svg) no-repeat 100% 45% !important;
}

#search-submit {
    width: 45%;
    background-color: #0f222d;
    height: 75px;
    color: #ffffff;
    position: relative;
    left: 55px;
    bottom: 20px;
}

.compare-button {
    line-height: 150px;
    width: 100%;
}

.compare-button .best_deals {
    float: left;
    font-weight: 100;
    font-family: inherit;
    font-size: 22px;
    width: 60%;
}

.compare-button .arrow-left {
    float: right;
    font-size: 4rem;
    position: relative;
    bottom: 4px;
    right: 15px;
}

.text-div {
    float: left;
    margin-top: 20px;
    color: #fff;
    width: 170px;
    text-align: center;
    background-color: #0f222d;
    font-size: 18px;
    margin-left: 25px;
    padding: 10px 10px 10px 10px;
    font-family: 'Open Sans';
    text-transform: capitalize;
}

.page-title-wrapper {
    display: none;
    }


/*PLP Page*/
.product-items .product-item{
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.16) !important;
}
.product-items .product-item:hover{
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.16) !important;
}
.product-items .product-item:hover .product-item-info{
    transform: none !important;
}
.product-items .product-item:hover .pro-overlay{
    display: none !important;
}
.product-items .product-item:hover .product-item-inner{
    display: none !important;
}
.product-items .product-item .product-item-info{
    width: 100% !important;
    padding: 0 !important;
    height: 10px !important;
}
.catalog-category-view .products-grid .product-item-info .product-image-container{
    width: 100% !important;
}
.product-items .product-item .product-item-details{
    padding: 0 4% 5px !important;
}
.page-products .products-grid .product-item{
    width: 30% !important;
}
.page-products .products-grid .product-item:nth-child(3n+1){
    margin-left: 0 !important;
}
.page-products .products-grid .product-item:nth-child(3n+1){
    margin-left: none !important;
}
.page-products .products-grid .product-item:nth-child(4n+1){
    margin-left: calc((100% - 3 * 32%) / 2);
}
.toolbar-products .modes{
    display: none !important;
}
.product-item .product-item-info .product-item-details .price-final_price .old-price .price{
    position: relative;
    color: darkgrey !important;
    text-decoration: none !important;
}
.product-item .product-item-info .product-item-details .price-final_price .old-price .price::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
  
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(12deg);
  }
  .old-price{
      display: flex;
  }
  .product-image-wrapper{
        padding-bottom: 85% !important;
  }
  .product-image-photo{
        margin: unset !important;
  }
  .name-link{
      display: flex;
  }
  .product-item-name {
      width: 66%;
      margin-top: 0 !important;
  }
  .view-details{
    color: #ffd800;
  }

/* ----------------------------------------------------------- */

  .page-main .block {
    margin-bottom: 0;
    background-color: white;
    }
   
  .se_seibon {
    color: #ffd800;
  }  

  .seibon_image {
    position: relative;
    bottom: 26px;
    left: 37px;
    width: 3.5%;
  }

  .catalog-category-view .product-item .price-box {
    margin: -20px 0 0px;
    }
   
  #from-5 {
      display: none;
  }  

  .block-title {
    position: relative;
    right: 22px;
  }

  .sidebar-additional .empty{
    position: unset;
    margin-top: 40px;
    text-align: center;
  }

  .sidebar .block-title {
      border-left: none !important;
      border-bottom: none !important;
      position: relative;
      top: 45px;
      left: 60px;
  }

   .filter-options {
    position: relative;
    left: 60px;
   }

   .sidebar-main .block .block-content .block-subtitle{
    position: relative;
    left: 60px;
    padding: 12px 0 4px !important;
   }

   .sidebar-additional .block-content {
    margin-top: -10px;
    }

    .product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
        transition: none !important;
       }
    
       .product-item .old-price {
        margin: 8px 0px !important;
        }

        
    /* changes for login HTML */

.page-main>.page-title-wrapper .page-title {
    color: #75888e !important;
    font-weight: 400;
    font-size: 30px;
}

.login-container .block .block-title strong {
    font-weight: 500;
    color: #75888e !important;
    margin-left: 18px;
}
.field.note{
    color: #75888e;
}
.field.required .label{
    position: relative;
    bottom: 2px;
}

.block-content p {
    color: #75888e;
}

.login-container .fieldset:after {
    margin-top: -175px;
}

.fieldset>.field>.label, .fieldset>.fields>.field>.label {
    font-weight: 600;
    color: #75888e;
}

.control input[type="password"], .control input[type="email"] {
    width: 60%;
}

#dealer_login_form {
    position: relative;
    bottom: 209px;
}
/* changes for login HTML */    